#root{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.App {
  text-align: center;
}

.business-img {
  width: 100%;
  height: 24vh;
  object-fit: cover;
  border-radius: 4px;  


}
.business-cont:hover {
  opacity: 0.5;
}  
/* adding a test comment*/
.business-cont {
  margin: 16px;
  width: 344px;
  transition: all 0.2s ease;

}

.info-container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 100px;
}

.rating-reviews {
  text-align: right;
  font-weight: bolder;
}

h1 {
  color: crimson;
margin: 8px 0px ;

}

.address {
  text-align: left;
}
p {
  margin: 8px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
